// colors
$light-gray: #555555;
$light-gray2: #b3b3b3;
$light-gray3: #919191;
$light-gray4: #666666;
$light-gray5: #fafafa;
$smooth-black: #1b1a1b;
$border-color: #e0e0e0;

// app
$main-bg-color: white;

// components
$common-border: #e0e0e0;
$r-table-border: #d0d0d0;
$danawa-blue: #2964e0;
$invaild-color: #e53b38;
$hover-bg-color: rgba(0, 0, 0, 0.3);
$hover-color: rgba(0, 0, 0, 0.6);
$disabled-color: #eeeeee;
